/* Общие стили */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}
strong {
    color: #0ff;
}

/* Навигационное меню */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #0ff;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 20px;
}

.logo a {
    color: #0ff;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    transition: 0.2s ease-in;
    position: relative;
}

.logo a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #0ff;
    transition: width 0.3s ease-in-out;
    transform: translateX(-50%);
}

.logo a:hover {
    color: #f0f;
}

.logo a:hover::after {
    width: 100%;
}

.logo img {
    width: 40px;
    margin-left: 10px;
}

.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navigation li {
    margin-left: 20px;
}

.navigation li a {
    color: #0ff;
    text-decoration: none;
    font-size: 16px;
    transition: 0.2s ease-in;
    position: relative;
}

.navigation li a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #0ff;
    transition: width 0.3s ease-in-out;
    transform: translateX(-50%);
}

.navigation li a:hover {
    color: #f0f;
}

.navigation li a:hover::after {
    width: 100%;
}


/* Секции */
.section {
    border-top: 1px solid #0ff;
    padding: 80px 20px;
}

.section h2 {
    display: flex;
    justify-content: center;
    color: #0ff;
    font-size: 32px;
    margin-bottom: 20px;
}
.section h3 {
    display: flex;
    justify-content: center;
    color: #0ff;
    font-size: 24px;
    margin-bottom: 20px;
}

.section p {
    font-size: 18px;
    line-height: 1.5;
}

/* Эффект навигационного меню, следующего за скроллом */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    animation: slideDown 0.5s ease;
}

.sticky nav {
    background-color: #000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-shadow: 0 0 5px #0ff;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

/* Стили скролла браузера */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: #111;
}

body::-webkit-scrollbar-thumb {
    background-color: #0ff;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #f0f;
}

.team-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.employee-card {
    background-color: #111;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.employee-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
}

.employee-card h3 {
    font-size: 24px;
    margin: 10px 0;
    text-shadow: 0 0 5px rgba(0, 255, 255, 0.8);
}

.employee-card p {
    font-size: 16px;
    text-shadow: 0 0 5px rgba(0, 255, 255, 0.8);
}

/* Добавление свечения (градиента) */
.employee-card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* Анимация при наведении */
.employee-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 30px rgba(0, 255, 255, 0.4);
}

/* Изменение стиля текста при наведении */
.employee-card:hover h3,
.employee-card:hover p {
    color: #0ff;
}

footer {
    border-top: 1px solid #0ff;
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    color: #0ff;
    font-size: 24px;
    margin-bottom: 10px;
}

.contact {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact a {
    display: inline-block;
    margin-right: 10px;
}

.contact img {
    width: 40px;
}

.contact p {
    font-size: 16px;
    margin: 0;
}
p.footer-text {
    font-size: 14px;
}
